In [8]:
import pandas as pd
import os
import csv
#import csv file data
poll_data_df = 'PyPoll.csv'

In [9]:
poll_data_pd = pd.read_csv(poll_data_df)
poll_data_pd.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [10]:
poll_data_pd.describe()

           Voter ID
count  1.048575e+06
mean   1.499795e+07
std    2.886661e+06
min    1.000000e+07
25%    1.249950e+07
50%    1.499706e+07
75%    1.749557e+07
max    1.999998e+07

In [11]:
Candidate = poll_data_pd['Candidate'].value_counts()
Name = poll_data_pd['Candidate'].unique()
print(Name)
print(Candidate)

['Khan' 'Correy' 'Li' "O'Tooley"]
Khan        661583
Correy      209046
Li          146360
O'Tooley     31586
Name: Candidate, dtype: int64

In [12]:
#create list 
n_list = Name.tolist()
print(n_list[0])

p_list = Candidate.tolist()
print(p_list)

Khan
[661583, 209046, 146360, 31586]

In [13]:
#find total and percentages
sum = Total_votes.sum()
print(sum)
Total_percent = (Total_votes/sum)*100
print(Total_percent)

NameError: name 'Total_votes' is not defined